apiVersion: apps/v1
kind: Deployment
metadata:
  name: uoc
spec:
  replicas: 3
  selector:
    matchLabels:
      app: uoc
  template:
    metadata:
      labels:
        app: uoc
    spec:
      containers:
        - name: app
          image: altctrlsupr/app:dev
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: "/"
              port: 8080
            initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: uoc
spec:
  type: LoadBalancer
  selector:
    app: uoc
  ports:
    - port: 80
      targetPort: 8080
